<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Thanks for signing up to our newsletter for Online Fashion Store, <%#= @user%>!</h1>
    <p>Thanks, Now you will recieve regular updates on our products.</p>
  </body>
</html>