@import "bootstrap-sprockets";
@import "bootstrap";

.center {
  text-align: center;

}

.center h1 {
  margin-bottom: 12px;

}

header nav a {
  font-size: 20px;
  letter-spacing: 2px;
}

.navbar-nav > li > a {
  line-height: 35px;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #777;

}

p {
  font-size: 1.1em;
  line-height: 1.7em;

}


#logo {
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: -1px;
  float: left;
  margin-right: 10px;
  padding-top: 9px;
  font-size: 2.2em;
  color: #fff;

}

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;

}

footer > a {
  color: #555;

}

footer a:hover {
  color: #222;

}

footer small {
  float: left;

}

footer ul {
  float: right;
  list-style: none;

}

footer ul li {
  float: left;
  margin-left: 15px;

}

// #add {
//   margin-left: 80px;
// }

#save {
  margin-left: 55px;
  -webkit-appearance: button;
  cursor: pointer;
}

#text {
  margin-left: 40px;
}

#mencoat {

}

.divpop1 {
  border: 2px solid #555;
  display: inline-block;
  // margin-left: 40%;
}

.divpop2 {
  border: 2px solid #555;
  // float: left;
  margin-left: auto;
  margin-right: auto;
  display: inline-block;

}

.center-block {
  display: block;
  padding-left: 5%;
  margin-left: auto;
  margin-right: auto;
}

.nav > li > a {
    position: relative;
    display: block;
    // padding: 10px 15px;
    padding: 10px 10px;
}

.center jumbotron > btn btn-lg btn-primary > a {
  color:red;
}

.collections1 {
    // position: absolute;
    display: inline-block;
    float: left;
    justify-content: space-around;
    // background-color: #555555;
    // width: 0%;
    margin: 40px;
    text-align: center;
    border: 6rem solid #555555
}

// .collections1:hover {
//     // position: absolute;
//     display: inline-block;
//     float: left;
//     justify-content: space-around;
//     // background-color: #555555;
//     // width: 0%;
//     margin: 20px;
//     text-align: center;
//     border: 6rem solid #555555
// }


.collections2 {
    position: absolute;
    justify-content: space-around;
    background-color: #555555;
    margin-left: 17%;
    // width: 0%;
    border: 6rem solid #555555
}

.collections3 {
    position: absolute;
    justify-content: space-around;
    background-color: #555555;
    margin-left: 36%;
    // width: 0%;
    border: 6rem solid #555555;
}

.collections4 {
    position: absolute;
    justify-content: space-around;
    background-color: #555555;
    margin-left: 55%;
    // width: 0%;
    border: 6rem solid #555555;
}

.collectionsAll {
    // position: absolute;
    // justify-content: space-around;
    // background-color: #555555;
    // margin-left: 95%;
    // width: 0%;
    // float: right;
}

.border{
  border-top:2px dashed #322f32;
  color:#fff;
  background-color:#fff;
  height:2px;
  width:100%;
}